.topHeader {
    background-color: #D3E7F8;
    display: flex;
    height: 81px;
    width: 100%;
    justify-content: space-between;
    padding: 5px 5px;
}

.logo {
    width: 250px;
    height: 76px;
    background-position: 50% 45%;
    background-image: url(../img/AMUSAS.gif);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: 20em;
}

.button {
    padding: 8px;
    width: 198px;
    height: 41px;
    background-color: #774FB2;
    border-radius: 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: white;
    border: none;
    margin-right: 1em;
}

.button:hover {
    background-color: #8a6db6;
}

.getIn {
    margin-block-start: 0.5em;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.rightHeader {
    display: flex;
    flex-direction: row;
    margin-right: 20em;
    padding-top: 1em;
}

@media screen and (max-width: 600px) {
    .logo {
        font-size: 18px;
        margin-left: 1em;
    }   
    .button {
        padding: 4px;
        width: 97px;
        height: 41px;
        background-color: #774FB2;
        border-radius: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 25px;
        color: white;
        border: none;
        margin-right: 1em;
    }

    .getIn {
        display: flex;
        flex-direction: row;
        margin-right: 1em;
        font-size: 9px;
    }
    .rightHeader {
        margin-right: 1em;
    }
    
}